.navbar {
    /* position: fixed; */
    border: solid 1px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    float: left;

    /* position: fixed;
    top:40px; 
    left:0px;  */
    /* overflow:auto; */
}

.project {
    border: solid 1px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project_name {
    border: solid 1px;
    margin-left: 10px;
}

.project_picture {
    border: solid 1px;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.menu {
    margin: 10px;
    list-style-type: none;
}

.menu > li {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.menu > li > img {
    height: 30px;
    width: 30px;
}
