.content {
    border: solid 1px;
    background-color:aquamarine;
    /* height: 100wh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    overflow: hidden;
    
    /* position:absolute;
    left: 200px;
    top: 40px; */
}

.tasks_column {
    border: solid 1px;
}

.empty_column {
    width: 150px;
}

.tasks_type {
    border: solid 1px yellow;
}

.task {
    border: solid 1px;
    margin: 10px;
}